tools/WIDLProc2JS/widlprocxml.dtd


<!-- Autogenerated from widlproc.html : do not edit. -->

<!ENTITY % block 'dl | p | table | ul' >
<!ENTITY % Block '(%block;)*' >
<!ENTITY % inline 'a | b | br | em' >
<!ENTITY % Inline '(#PCDATA | %inline;)*' >
<!ENTITY % Flow '(#PCDATA | %inline; | %block;)*' >

<!ELEMENT webidl (#PCDATA | ref)* >

<!ELEMENT Definitions (Module | Interface
    | Exception | Typedef | Implements)* >

<!ELEMENT Module (webidl, descriptive?, ExtendedAttributeList?,
        (Module | Interface | Exception | Typedef | Implements)* ) >
<!ATTLIST Module name CDATA #REQUIRED 
                 id CDATA #REQUIRED >

<!ELEMENT Interface (webidl, descriptive?, ExtendedAttributeList?,
        InterfaceInheritance?, (Const | Stringifier | Attribute | Operation)* ) >
<!ATTLIST Interface name CDATA #REQUIRED
                    id CDATA #REQUIRED >

<!ELEMENT InterfaceInheritance (Name+) >

<!ELEMENT Name EMPTY >
<!ATTLIST Name name CDATA #REQUIRED >

<!ELEMENT Exception (webidl, descriptive?, ExtendedAttributeList?, ExceptionInheritance?,
        (Const | ExceptionField)* ) >
<!ATTLIST Exception name CDATA #REQUIRED 
                    id CDATA #REQUIRED >

<!ELEMENT ExceptionInheritance (Name) >
<!ELEMENT ExceptionField (webidl, descriptive?, ExtendedAttributeList?, (Type)) >
<!ATTLIST ExceptionField name CDATA #REQUIRED
                         id CDATA #REQUIRED >

<!ELEMENT Typedef (webidl, descriptive?, ExtendedAttributeList?, (Type)) >
<!ATTLIST Typedef name CDATA #REQUIRED
                  id CDATA #REQUIRED >

<!ELEMENT Implements (webidl, descriptive?, ExtendedAttributeList?) >
<!ATTLIST Implements name1 CDATA #REQUIRED
                     name2 CDATA #REQUIRED >

<!ELEMENT Const (webidl, descriptive?, ExtendedAttributeList?, Type) >
<!ATTLIST Const name CDATA #REQUIRED
                value CDATA #REQUIRED
                id CDATA #REQUIRED >

<!ELEMENT Stringifier (webidl, descriptive?, ExtendedAttributeList?) >

<!ELEMENT Attribute (webidl, descriptive?, ExtendedAttributeList?, (Type),
    GetRaises?, SetRaises?) >
<!ATTLIST Attribute stringifier (stringifier) #IMPLIED
                    readonly (readonly) #IMPLIED
                    name CDATA #REQUIRED
                    id CDATA #REQUIRED >

<!ELEMENT GetRaises (RaiseException+) >

<!ELEMENT SetRaises (RaiseException+) >

<!ELEMENT RaiseException (descriptive?) >
<!ATTLIST RaiseException name CDATA #REQUIRED >

<!ELEMENT Operation (webidl, descriptive?, ExtendedAttributeList?,
        (Type), ArgumentList, Raises?) >
<!ATTLIST Operation stringifier (stringifier) #IMPLIED
                    static (static) #IMPLIED
                    omittable (omittable) #IMPLIED
                    getter (getter) #IMPLIED
                    setter (setter) #IMPLIED
                    creator (creator) #IMPLIED
                    deleter (deleter) #IMPLIED
                    caller (caller) #IMPLIED
                    name NMTOKEN #IMPLIED
                    id NMTOKEN #IMPLIED >

<!ELEMENT Raises (RaiseException+) >

<!ELEMENT ArgumentList (Argument*) >

<!ELEMENT Argument (descriptive?, ExtendedAttributeList?, (Type)) >
<!ATTLIST Argument in (in) #IMPLIED
                   optional (optional) #IMPLIED
                   ellipsis (ellipsis) #IMPLIED
                   name NMTOKEN #REQUIRED >

<!ELEMENT ExtendedAttributeList (ExtendedAttribute+) >

<!ELEMENT ExtendedAttribute (ArgumentList?) >
<!ATTLIST ExtendedAttribute name NMTOKEN #REQUIRED
                            value CDATA #IMPLIED >

<!ELEMENT Type (descriptive?, Type?) >
<!ATTLIST Type type CDATA #IMPLIED
               name NMTOKEN #IMPLIED
               nullable (nullable) #IMPLIED >

<!ELEMENT descriptive (description | brief | throw | author
    | version | Code | api-feature | device-cap | def-api-feature
    | def-api-feature-set | def-device-cap | def-instantiated | param)* >

<!ELEMENT description %Block; >

<!ELEMENT brief %Inline; >

<!ELEMENT throw %Inline; >

<!ELEMENT author %Inline; >

<!ELEMENT version %Inline; >

<!ELEMENT Code %Inline; >

<!ELEMENT api-feature %Inline; >
<!ATTLIST api-feature identifier CDATA #REQUIRED >

<!ELEMENT device-cap %Inline; >
<!ATTLIST device-cap identifier CDATA #REQUIRED >

<!ELEMENT param %Inline; >
<!ATTLIST param identifier CDATA #REQUIRED >

<!ELEMENT def-api-feature (descriptive?) >
<!ATTLIST def-api-feature identifier CDATA #REQUIRED >

<!ELEMENT def-api-feature-set (descriptive?) >
<!ATTLIST def-api-feature-set identifier CDATA #REQUIRED >

<!ELEMENT def-instantiated (descriptive?) >

<!ELEMENT def-device-cap (descriptive?) >
<!ATTLIST def-device-cap identifier CDATA #REQUIRED >

<!ELEMENT ref (#PCDATA) >

<!ELEMENT a %Inline; >
<!ATTLIST a href CDATA #REQUIRED >

<!ELEMENT b %Inline; >

<!ELEMENT br EMPTY >

<!ELEMENT dd %Flow; >

<!ELEMENT dl ((dt | dd)*) >

<!ELEMENT dt %Inline; >

<!ELEMENT em %Inline; >

<!ELEMENT li %Flow; >

<!ELEMENT p %Inline; >

<!ELEMENT table (tr*) >

<!ELEMENT td %Flow; >

<!ELEMENT th %Flow; >

<!ELEMENT tr ((th | td)*) >

<!ELEMENT ul (li*) >
